@model IEnumerable<QLSV_BlockChain.Models.HocKy>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/DangTai/Views/Shared/_layoutDangTai.cshtml";
}

<br />

<h2>Quản lý học kỳ</h2>

<p>
    <button class="btn-info"> @Html.ActionLink("Thêm mới", "Create", new { }, new { @style = "color:white;" }) </button>
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.Label("Mã học kỳ")
        </th>

        <th>
            @Html.Label("Tên học kỳ")
        </th>
        <th>
            @Html.Label("Trạng Thái")
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaHocKy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenHocKy)
            </td>
            <td>
                @{ 
                    if (item.IsActive == 0)
                    {
                        <div style="color:red">Khóa</div>
                    }
                    else if (item.IsActive == 1)
                    {
                        <div style="color:slateblue">Cho phép nhập điểm</div>   
                    }
                }
            </td>
            <td>
                <button class="btn btn-success">
                    @Html.ActionLink("Sửa", "Edit", new { id = item.MaHocKy }, new { @style = "color:white;" })
                </button>
                @{
                    if (item.IsActive == 0)
                    {
                        <button class="btn btn-warning">
                            @Html.ActionLink("Mở", "Delete", new { id = item.MaHocKy }, new { @style = "color:white;" })
                        </button>
                    }
                    else if (item.IsActive == 1)
                    {
                        <button class="btn btn-danger">
                            @Html.ActionLink("Khóa", "Delete", new { id = item.MaHocKy }, new { @style = "color:white;" })
                        </button>
                    }
                }
            </td>
        </tr>
    }

</table>
