@model QLSV_BlockChain.Models.BangDiem

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/DangTai/Views/Shared/_layoutDangTai.cshtml";
}

<h2>Tạo bảng điểm</h2>

@using (Html.BeginForm("Create", "BangDiem", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>QuyTrinh</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.MaSinhVien, "Chọn sinh viên", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(p => p.MaSinhVien, (SelectList)ViewBag.SinhVien, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MaSinhVien, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.MaNguoiDung, "Chọn cơ quan kiểm định", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(p => p.MaNguoiDung, (SelectList)ViewBag.NguoiDung, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MaNguoiDung, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.MaMonHoc, "Chọn môn học", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(p => p.MaMonHoc, (SelectList)ViewBag.MonHoc, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MaMonHoc, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.MaHocKy, "Chọn học kỳ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(p => p.MaHocKy, (SelectList)ViewBag.HocKy, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MaHocKy, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label for="ImageUpload">Tệp bảng điểm</label>
        <input type="file" class="form-control" accept="image/png, image/jpeg" name="ImageUpload" id="ImageUpload" />
    </div>
    <div class="form-group">
        <img id="ImagePreview" src="" style="width: 200px" alt="Hình ảnh xem trước" />
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}
<script>
     $(document).ready(function () {
         $("#ImageUpload").on('change', function () {
                let file = this.files[0];
                let reader = new FileReader();
                reader.onload = (e) => {
                    $("#ImagePreview").attr("src", e.target.result);
                }
                reader.readAsDataURL(file);
         })
     })
</script>
