@model QLSV_BlockChain.Models.BangDiem

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/DangTai/Views/Shared/_layoutDangTai.cshtml";
}

<h2>Chi tiết bảng điểm</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Tên sinh viên")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SinhVien.TenSinhVien)
        </dd>

        <dt>
            @Html.Label("Cơ quan xác thực")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiDung.Mota)
        </dd>

        <dt>
            @Html.Label("Học kỳ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HocKy.TenHocKy)
        </dd>

        <dt>
            @Html.Label("Môn học")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonHoc.TenMonHoc)
        </dd>
        <dt>
            @Html.Label("Bảng điểm")
        </dt>

        <dd>
            <img src="@Model.TepTinChungThuc" height="300px" />
        </dd>
        @if (Model.TrangThai != 0)
        {
            <dt>
                @Html.Label("Ngày ký")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NgayKy)
            </dd>
        }
        <dt>
            @Html.Label("Trạng thái")
        </dt>

        <dd>
            @{
                if (Model.TrangThai == 0)
                {
                    <div style="color:red">Đang chờ xác thực</div>
                }
                else if (Model.TrangThai == 1)
                {
                    <div style="color:slateblue">Đã xác thực</div>

                }
                else if (Model.TrangThai == 2)
                {
                    <div style="color:sandybrown">Thông tin bảng điểm bị thay đổi</div>
                }
            }
        </dd>

    </dl>
</div>
<p>
    <button class="btn btn-outline-success">@Html.ActionLink("Trở về","Index")</button>
</p>
